# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Java Build ###

/target
*/target

### IDEA MAVEN ###

*/mvnw.cmd
*/mvnw
/*/.mvn/
